In [1]:
import pandas as pd

In [7]:
df1 = pd.read_excel(r"E:\python代码\test\20级学生及导师(1).xlsx", usecols=[20])
df2 = pd.read_excel(r"E:\python代码\test\导师数据.xlsx")

In [9]:
df2

,导师姓名,导师职称,年龄,近五年发表论文,横向项目（主持）,横向项目（参与）,纵向,专利,行政职务,执教年龄,最高学历学校,学位,性别,学生数量,是否出国
0,白菊蓉,2,44.91,1,0,0,2,2,0,17.91,2,1,1,8,0
1,陈海峰,2,39.91,1,0,1,3,2,0,11.91,1,2,2,7,0
2,邓军勇,2,38.89,7,0,0,2,4,0,11.89,1,2,2,4,1
3,董嗣万,1,30.91,0,1,1,0,5,0,6.00,3,2,2,7,0
4,杜慧敏,3,52.95,21,2,8,5,6,1,23.95,1,2,1,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
286,袁小陆,3,56.94,3,0,1,1,2,0,27.94,3,0,2,3,0
287,张茜,2,40.88,0,2,2,0,3,0,12.88,2,1,1,7,1
288,赵永强,2,42.88,4,1,0,0,5,0,15.88,3,2,2,4,1
289,汪西虎,1,43.94,0,0,0,0,4,0,14.94,3,2,2,3,1
290,唐威,1,44.88,0,0,0,0,4,0,16.88,3,2,2,6,0

In [12]:
df = pd.merge(df1, df2, how="left")

In [13]:
df.to_excel("data.xlsx", index=None)